.DS_Store
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pids/
*.pid
*.seed
*.pid.lock
coverage/
.nyc_output/
.jest/
dist/
build/
tmp/
temp/
*.tsbuildinfo
.cache/
.eslintcache/
.stylelintcache/
.parcel-cache/
.next/
.nuxt/
.env
.env.*.local
.env.local
.env.test
.env.development
.env.production
*.tgz
.vscode/
.idea/
.vite
